// Main Font
$main-font: sans-serif;
$main-font-color: #333;
$main-font-size: 24px;
$main-font-weight: 400;
$main-line-height: 1.2;

// Breakpoints
$breakpoint-xs: 340px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


